* {
  margin: 0px;
  padding: 0px;
  line-height: 1.3em;
}

body {
  width: 100%;
  height: 100%;
  font-family: Lato, sans-serif;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
}

.sidebody {
  background-color: lightblue;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.sidebody ul {
  width: 100%;
  height: 100%;
  list-style: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.sidebody ul li {
  width: 100%;
  height: 4%;
  /* padding: 0.2em 1em; */
}

.sidebody ul li :hover {
  background-color: grey;
}

.sidebody a {
  text-decoration: none;
  display: block;
  color: black;
  padding: 0.2em 1em;
}

.mainbody {
  margin-left: 400px;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 1em;
  gap: 3em 2.5em;
}

.mainbody .game {
  width: 280px;
  height: 350px;
  margin-bottom: 0em;
  background-color: lightgrey;
}

.coverart {
  width: 100%;
  height: 100%;
}

.coverart figcaption {
  background-color: aqua;
  text-align: center;
}